<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <% include ../partials/_header.ejs %>
</header>
<body>
  <% for (let id in urls){ %>
  <table id="t01">
  <tr>
    <th>Short URL</th>
    <th>Long URL</th>
  </tr>
  <tr>
    <td><a href="/urls/<%= id %>">http://localhost:8080/u/<%= id %></a></td>
    <td><a href="/urls/<%= id %>"><%= urls[id] %></a></td>
    <td><form action="/urls/<%= id %>/delete" method="POST" align='right'><input type="submit" name="newURL" value='Delete' style="margin: 25px;"></form></td>
    <td><button><a href="/urls/<%= id %>">Edit</a></button></td>
  </tr>
</table>
  <% }; %>
</body>
</html>
